.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

  header {
    text-align: center;
  }
  
  #frm-login {

    .group-input {
      margin-bottom: 20px;
      position: relative;

    input {
      width: 100%;
      padding-left: 40px;
    }

    .icons {
      position: absolute;
      top: 8px;
      left: 10px;
    }
  }

    .btn-primary {
      width: 100%;
      margin-top: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			
			.icons {
				display: block;
				margin-right: 10px;
			}
		}

  }
}
