@import 'variavel/variavel.scss';
@import 'reset.scss';

html{
  font-size: $font-size-principal;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 414px;
  width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 20px;

	header{
		//max-width: 300px; 
		width: 100%;
	}

	.info-header{
		display:flex;
		align-items: center;
		justify-content: space-between;
		margin: 20px 0;
		
		.icons{
			width:30px;
			height: 30px;
		}

		.icon-name{
			display: flex;
			width:100%;
			align-items: center;
			
			.name-header{
				margin-left: 5px;
				font-size: $font-user;
			}
		}
	}


  .titulo {
    font-size: $font-titulo;
    color: $font-color-cinza;
    font-weight: $font-medio;
		text-align: center;
	}
}

header {
  margin-bottom: 50px;
  .sub-titulo {
    font-size: $font-sub-titulo;
  }
}

form {
  .group-input{
    width: 100%;
  }
  
  input{
    @include input;
    color: #000;
  }
 }

.btn {
	@include btn;
	margin: 0 auto;
}

.btn-primary {
	background-color: $azul;
}

.btn-danger{
	background-color: $vermelho;
}

.btn-green{
	background-color: $verde;
}

.icons {
	width: 20px;
	height: 20px;
}

.font-titulo-table{
	font-size: $font-input;
	color: $font-color-cinza;
}

table{
	width: 100%;
	border-collapse: collapse;
	text-align: center;

	th {
		padding-bottom: 10px;
	}

	td{
		font-size: $font-input;
		padding: 10px 0; 
	}

	th, td {
		border-bottom: 1px solid $font-color-cinza-input;
		
	}
}

