.group-list-inputs {
  width: 100%; }
  .group-list-inputs .titulo-lista {
    display: grid;
    grid-template-columns: 140px 70px 1fr;
    grid-gap: 5px;
    margin-bottom: 10px;
    font-weight: 500; }
  .group-list-inputs .titulo-lista span:first-child {
    grid-column: 1; }
  .group-list-inputs .titulo-lista span:first-child + span {
    grid-column: 2;
    text-align: center; }
  .group-list-inputs .titulo-lista span:last-child {
    grid-column: 3; }
  .group-list-inputs form input {
    width: 100% !important; }
  .group-list-inputs form .group-input {
    display: grid !important;
    grid-template-columns: 1fr 40px 25px 100px;
    grid-gap: 5px;
    align-items: center;
    margin: 0 0 20px 0; }
    .group-list-inputs form .group-input .nome-prod {
      grid-column: 1; }
    .group-list-inputs form .group-input .qtde-prod {
      grid-column: 2;
      text-align: center; }
    .group-list-inputs form .group-input .btn-add-sub {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-column: 3; }
      .group-list-inputs form .group-input .btn-add-sub .icons {
        width: 25px;
        height: 35px;
        cursor: pointer;
        display: flex;
        justify-content: center; }
        .group-list-inputs form .group-input .btn-add-sub .icons img {
          width: 100%; }
    .group-list-inputs form .group-input .marca-prod {
      grid-column: 4; }
  .group-list-inputs form .btn-primary {
    width: 100%;
    margin-top: 30px !important;
    margin-bottom: 20px !important; }
  .group-list-inputs .btn {
    margin: 0 auto; }
  .group-list-inputs .btn-danger {
    margin-bottom: 30px !important; }
